@font-face{
    font-family: Roboto;
    src: url('../font/Roboto-Light.ttf');
}
@font-face{
    font-family: RobotoBold;
    src: url('../font/Roboto-Bold.ttf');
}

@font-face{
    font-family: RobotoRegular;
    src: url('../font/Roboto-Regular.ttf');
}

@font-face{
    font-family: OpenSans;
    src: url('../font/OpenSans-Regular.ttf');
}

.contenedor_principal{
    overflow-x: hidden;
    margin-left: 0;

    .ocultar_seccion_trivia{
        opacity: 0.2;
    }

    .bg_titulo {         
        margin-top: 2rem;   
        background: linear-gradient(315deg, #CB0069 0%, #FA7044 100%);
        background-position: center center;
        background-size: auto;
        width: 625px;
        height: 90px;
        z-index: 0;
    
        .texto_titulo_principal{
            padding-top: 1rem;
            font-family: RobotoBold;
            line-height: 28px;
            font-size: 24px;
            color: #FFF;
        }
    }

    .bg_contenedor_trivia {
        margin-bottom: 5rem;
        background-color: white;
        border: none;
        text-align: center;
        width: 586px;
        height: auto;
        margin-top: -2rem;
        margin-left: 19.5px;
        padding-top: 0.5rem;
        border: 1px solid #F3F4F5;
    
        .caja_respuestas{
            height: 83px;	
            width: 150px;	
            border: 1px solid #CCD0D2;
            border-radius: 6px;
            background-color: #FFF;
            box-shadow: 0 2px 8px 0 rgba(0,0,0,0.04);
            margin-top: 1rem;
            cursor: pointer;
        }
    
        .texto_caja_respuestas{    	
            font-family: RobotoRegular;	
            font-size: 14px;
        }
    
        .bg_seccion_trivia{
            background-color: #f5f5f5;
            padding-top: 1%;
            margin-top: 0.5rem;
            border: 8px solid #FFF;
            border-radius: 16px;
            padding-bottom: 5%;
    
            .bg_enum{
                color:#FFF;
                margin-left: 0;
                height: 22px;	
                width: 25px;	
                background-color: #FA7044;
                margin-top: 0.5rem;
                
                .texto_enum{	
                    color: #FFF;	
                    font-family: OpenSans;	
                    font-size: 14px;	
                    font-weight: bold;	
                    text-align: center;
                }
            }
    
            .texto_titulo_secciones{
                padding-left: 3rem;
                font-family: RobotoRegular;
                font-size: 18px;
                letter-spacing: 0.5px;
                color: #000;
            }
    
            #ctnrespuestasnormal{
            
                .caja_correcta_normal{
                    height: 26px;
                    margin-top: 1rem;
                    margin-bottom: 2rem;
                    border: 1px solid #22BD3D;
                    border-radius: 6px;
                    background: linear-gradient(315deg, #1DB743 0%, #4CD964 100%);
                    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.04);
                    color: #FFF;
                    font-family: RobotoBold;
                    font-size: 16px;
                }
                
                .caja_incorrecta_normal{
                    height: 26px;
                    margin-top: 1rem;
                    margin-bottom: 2rem;
                    border: 1px solid #A70E0E;
                    border-radius: 6px;
                    background: linear-gradient(315deg, #8F2020 0%, #C62828 100%);
                    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.04);
                    color: #FFF;
                    font-family: RobotoBold;
                    font-size: 16px;
                }
            }
            
            #ctnrespuestasmovil{
            
                .caja_correcta_movil{ 
                    height: 52px;
                    width: 100%;
                    border: 1px solid #22BD3D;
                    border-radius: 4px;
                    background: linear-gradient(315deg, #1DB743 0%, #4CD964 100%);
                    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.04);
                    margin-top: 0.4rem;
                    color: #FFF;
                    font-family: RobotoBold;
                    font-size: 24px;
                    padding-top: 0.5rem;
                    letter-spacing: 0.1px;   
                    margin-bottom: 2rem;
                }
                
                .caja_incorrecta_movil{
                    height: 52px;
                    width: 100%;
                    border: 1px solid #A70E0E;
                    border-radius: 4px;
                    background: linear-gradient(315deg, #8F2020 0%, #C62828 100%);
                    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.04);
                    margin-top: 0.4rem;
                    color: #FFF;
                    font-family: RobotoBold;
                    font-size: 24px;
                    padding-top: 0.5rem;
                    letter-spacing: 0.1px;    
                    margin-bottom: 2rem;
                }
    
                .flecha_arriba_correcta {
                    width: 5px; 
                    height: 5px; 
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;    
                    border-bottom: 10px solid #22BD3D;
                }
                
                .flecha_arriba_incorrecta {
                    width: 5px; 
                    height: 5px; 
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;    
                    border-bottom: 10px solid #A70E0E;
                }
            }
    
            #ctnrespuestas{            
            
                .bg_correcta{    	
                    background: linear-gradient(315deg, #1DB743 0%, #4CD964 100%);	
                    color: #FFFFFF ;
                }
                
                .bg_incorrecta{
                    background: linear-gradient(315deg, #8F2020 0%, #C62828 100%);
                    color: #FFFFFF ;
                }           
    
                .span_texto_correcta{
                    color: #000;	
                    font-family: Roboto;	
                    font-size: 11px;	
                    margin-top: -10%;
                }            
    
                .borde_correcta_normal{
                    border: 1px solid #22BD3D;
                }
    
                .flecha_normal{
                    background: #FFF;
                    height: 25px;	
                    width: 24px;	
                    transform: rotate(90deg);	
                    color: #22BD3D;	
                    font-family: Font-Awesome-Solid;	
                    font-size: 24px;	
                    margin-top: -22%;
                    z-index: 2;
                }
    
                .img_flecha{
                    margin-top: -6.2rem;
                    margin-left: 80%;
                }
            }
        }
    }
    
    #ctnresultado{
        
        .texto_titulo_resultado{
            padding-left: 12%;
            margin-top: 2rem;
            font-size: 22px;
            font-family: RobotoBold;
        }
        
        .texto_parrafo_resultado{
            padding-left: 12%;
            padding-right: 9%;
            font-family: RobotoRegular;
        }
    }
}

@media screen and (min-width: 767px) { 
    #ctnrespuestas{
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .span_texto_correcta{
        font-size: 10px;
        margin-right: -18px;
    }

    .flecha_normal{
        margin-right: -25px;
    }

    .caja_correcta_normal{
        width: 460px;
    }

    .caja_incorrecta_normal{
        width: 460px;
    }

}

@media screen and (max-width: 575px) { 

    .contenedor_principal{       

        .bg_titulo{
            height: 90px;	
            width: 355px;
        }

        .bg_contenedor_trivia{
            width: 325px;
            margin-left: 15px;
    
            .caja_respuestas{
                width: 100%;
                height: 46px;
                margin-top: 0;
                margin-bottom: 5%;
            }
    
            #ctnrespuestas{
                padding-left: 0%;                
            }
        }     
    }
    
    .bg_enum{
        height: 20px;
    }

    .texto_titulo_secciones{
        margin-left: -0.5rem;
        margin-top: -1.6rem;
    }    

    .span_texto_correcta{
        margin-top: -11%;
        margin-bottom: 2%;
    }

    #ctnrespuestasmovil{
        margin-top: -1.2rem;
    }
}

@media screen and (max-width: 375px) { 
    .contenedor_principal{
        margin-left: -5px;

        .bg_titulo{
            height: 90px;	
            width: 350px;
        }

        .bg_contenedor_trivia{
            width: 320px;
            margin-left: 15px;
        }
    } 
}

@media screen and (max-width: 360px) { 
    .contenedor_principal{
        margin-left: -5px;

        .bg_titulo{
            height: 90px;	
            width: 335px;
        }

        .bg_contenedor_trivia{
            width: 305px;
            margin-left: 15px;
        }
    } 
}

@media screen and (max-width: 320px) { 
    .contenedor_principal{
        margin-left: -5px;

        .bg_titulo{
            height: 90px;	
            width: 300px;
        }
    
        .bg_contenedor_trivia{
            width: 270px;
            margin-left: 15px;
        }
    }
}   